In [1]:
import os
import pandas as pd
from flask import Flask, render_template, jsonify
import sqlalchemy
from sqlalchemy import create_engine
import pymysql

In [2]:
app = Flask(__name__)

In [12]:
# Heroku check
is_heroku = False
if 'IS_HEROKU' in os.environ:
    is_heroku = True

# Import your config file(s) and variable(s)
if is_heroku == False:
    from config import host, port, username, password, database 
else:
    host = os.environ.get('host')
    port = os.environ.get('port')
    username = os.environ.get('username')
    password = os.environ.get('password')
    database = os.environ.get('database')

engine = create_engine(f'mysql://{username}:{password}@{host}:{port}/{database}')
    
pymysql.install_as_MySQLdb()

In [13]:
conn = engine.connect()

query = '''
    SELECT * FROM monthly_delays
'''

results_df = pd.read_sql(query, con=conn)

conn.close()

In [14]:
results_df

     month_name           airline_name  average_delay
0       January                 Qantas      16.733333
1       January           Fiji Airways      21.764706
2       January                    KLM      15.360000
3       January       TAP Air Portugal      35.455446
4       January                    UIA      27.769231
...         ...                    ...            ...
2090       July              AeroLogic            NaN
2091       July      National Airlines            NaN
2092       July              Martinair            NaN
2093       July  Air Atlanta Icelandic            NaN
2094       July      Phoenix Air Group            NaN

[2095 rows x 3 columns]

In [3]:
@app.route('/api/data/monthly_delays')
def monthly_delays():
    conn = engine.connect()
    
    query = '''
	    SELECT * FROM monthly_delays
    '''
    
    results_df = pd.read_sql(query, con=conn)
    results_json = results_df.to_json(orient='records')

    conn.close()

    return results_json

In [ ]:
@app.route('/api/data/airline_cancellations')
def monthly_delays():
    conn = engine.connect()
    
    query = '''
	    SELECT * FROM cancellations_by_airline
    '''
    
    results_df = pd.read_sql(query, con=conn)
    results_json = results_df.to_json(orient='records')

    conn.close()

    return results_json

In [ ]:
@app.route('/api/data/airport_cancellations')
def monthly_delays():
    conn = engine.connect()
    
    query = '''
	    SELECT * FROM cancellations_by_airport
    '''
    
    results_df = pd.read_sql(query, con=conn)
    results_json = results_df.to_json(orient='records')

    conn.close()

    return results_json

In [6]:
if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with stat

SystemExit: 1